section.banners.section
	.container.banners__container
		a(href="#").banners__item
			.banners__item-text Скидки до 30% на сигвеи
			img.banners__item-image(src="@img/banners/sigwey.png", alt="sigwey")
		a(href="#").banners__item
			.banners__item-text Неделя смарт часов
			img.banners__item-image(src="@img/banners/watch.png", alt="apple watch")