header.header
	.header__top
		.container.header__top-container
			a(href="./index.html").header__logo.logo
				img.header__logo-img(src='@img/content-icons/logo.svg')
			.header__content
				.header__info
					a(href="tel:+78126605054").header__info-phone +7 (812) 660-50-54
					a(href="tel:+79581119503").header__info-phone +7 (958) 111-95-03
					.header__info-schedule Пн-вс: с 10:00 до 21:00
				.header__actions
					form.header__search.search
						button.search__button.button.button__icon.button__icon--header-search(type="submit")
							+svg('search__button-icon','search')
						input.search__input(type="text" placeholder="Поиск")
					button.header__viewed.button.button__icon.button__icon--header-viewed
						+svg('viewed', 'watch')
					a(href="./page-favorite.html").header__heart.button.button__icon.button__icon--header-heart
						+svg('heart', 'favorite')
						span 11
					a(href="./page-compare.html").header__compare.button.button__icon.button__icon--header-compare
						+svg('compare', 'compare')
						span 5
					button.header__cart.button.button__icon.button__icon--header-cart
						+svg('cart','cart')
					button.header__login.button.button--blue Войти
	.header__menu
		.container.header__menu-container
			nav.header__menu-nav.nav
				.nav__home
					.nav__home-icon
						+svg('nav__home-svg', 'home')
					h4.nav__home-title Главная
				.nav__catalog.catalog
					.catalog__icon
						+svg('catalog__icon-svg', 'burger-menu')
					h4.catalog__title Каталог товаров
					ul.catalog__list
						.catalog__list-title Каталог
							+svg('catalog__list-cross', 'cross')
						li.catalog__item
							img.catalog__item-img(src='@img/content-icons/scooter.svg')
							a.catalog__item-link(href="./page-catalog.html") Гироскутеры
						li.catalog__item
							img.catalog__item-img(src='@img/content-icons/electro-scooter.svg')
							a.catalog__item-link(href="./page-catalog.html") Электросамокаты
						li.catalog__item
							img.catalog__item-img(src='@img/content-icons/unicycle.svg')
							a.catalog__item-link(href="./page-catalog.html") Моноколеса
						li.catalog__item
							img.catalog__item-img(src='@img/content-icons/segway.svg')
							a.catalog__item-link(href="./page-catalog.html") Сигвеи и мини-сигвеи
						li.catalog__item
							img.catalog__item-img(src='@img/content-icons/slow-bike.svg')
							a.catalog__item-link(href="./page-catalog.html") Электроскутеры
						li.catalog__item
							img.catalog__item-img(src='@img/content-icons/electro-bicycle.svg')
							a.catalog__item-link(href="./page-catalog.html") Электровелосипеды
						li.catalog__item
							img.catalog__item-img(src='@img/content-icons/electro-skate.svg')
							a.catalog__item-link(href="./page-catalog.html") Электроскейты
						li.catalog__item
							img.catalog__item-img(src='@img/content-icons/electro-car.svg')
							a.catalog__item-link(href="./page-catalog.html") Электромобили
						li.catalog__item
							img.catalog__item-img(src='@img/content-icons/headphones.svg')
							a.catalog__item-link(href="./page-catalog.html") Аксессуары
						li.catalog__item
							img.catalog__item-img(src='@img/content-icons/game-controller.svg')
							a.catalog__item-link(href="./page-catalog.html") Умные игрушки
						li.catalog__item
							img.catalog__item-img(src='@img/content-icons/smart-clock.svg')
							a.catalog__item-link(href="./page-catalog.html") Умные часы
				.nav__cart
					.nav__cart-icon
						+svg('nav__cart-svg', 'cart')
					h4.nav__cart-title Корзина
				.nav__search
					.nav__search-icon
						+svg('nav__search-svg', 'search')
					h4.nav__search-title Поиск
					form.nav__search-form
						.nav__search-caption Поиск
							+svg('nav__search-cross', 'cross')
						.nav__search-search
							input.nav__search-input(type="text" placeholder="Введите запрос")
							button.nav__search-button.button.button__icon.button__icon--header-search(type="submit")
								+svg('search__button-icon','search')
				.nav__list
					.nav__list-icon
						+svg('nav__list-svg', 'more')
					.nav__list-title Ещё
					ul.nav__ul
						.nav__ul-title Ещё
							+svg('nav__ul-cross', 'cross')
						li.nav__item
							a.nav__item-link(href="./page-about-us.html") О компании
						li.nav__item
							a.nav__item-link(href="./page-promos.html") Акции
						li.nav__item
							a.nav__item-link(href="#") Рассрочка 0|0|18 
						li.nav__item
							a.nav__item-link(href="./page-garanty.html") Сервис и гарантия
						li.nav__item
							a.nav__item-link(href="#") Опт/дропшиппинг 
						li.nav__item
							a.nav__item-link(href="#") Контакты