section.hero
	.container.hero__container
		.hero__swiper
			.swiper-wrapper
				.swiper-slide.hero__slide
					.hero__slide-content
						h4.hero__slide-title Apple Watch Series 6
						.hero__slide-subtitle Уже в наличии
					.hero__slide-image
						img(src="@img/hero/apple-watch.png", alt="apple-watch")
				.swiper-slide.hero__slide
					.hero__slide-content
						h4.hero__slide-title Apple Watch Series 6
						.hero__slide-subtitle Уже в наличии
					.hero__slide-image
						img(src="@img/hero/apple-watch.png", alt="apple-watch")
				.swiper-slide.hero__slide
					.hero__slide-content
						h4.hero__slide-title Apple Watch Series 6
						.hero__slide-subtitle Уже в наличии
					.hero__slide-image
						img(src="@img/hero/apple-watch.png", alt="apple-watch")
				.swiper-slide.hero__slide
					.hero__slide-content
						h4.hero__slide-title Apple Watch Series 6
						.hero__slide-subtitle Уже в наличии
					.hero__slide-image
						img(src="@img/hero/apple-watch.png", alt="apple-watch")
				.swiper-slide.hero__slide
					.hero__slide-content
						h4.hero__slide-title Apple Watch Series 6
						.hero__slide-subtitle Уже в наличии
					.hero__slide-image
						img(src="@img/hero/apple-watch.png", alt="apple-watch")
			.hero__swiper-pagination.swiper-pagination