article.product-card.new.aqua.hit
	.product-card__banners
		.product-card__banners-benefits
			.product-card__banners-aqua Аквазащита
				img(src="@img/content-icons/water-drop.svg", alt="#")
		.product-card__banners-profitable
			.product-card__banners-hit Хит продаж
			.product-card__banners-new Новинка
	.product-card__image
		img(src="@img/product-1.jpg", alt="#")
	.product-card__descr
		.product-card__category Сигвеи
		.product-card__name Гироскутер Smart Balance Well 6.5 Хип-Хоп (АКВАЗАЩИТА)
		.product-card__reactions
			.product-card__rating(data-rating-total="2")
				.product-card__rating-item(data-rating-value="5") ★
				.product-card__rating-item(data-rating-value="4") ★
				.product-card__rating-item(data-rating-value="3") ★
				.product-card__rating-item(data-rating-value="2") ★
				.product-card__rating-item(data-rating-value="1") ★
			a(href='#').product-card__comments (17)
				+svg('comment-icon', 'comment')
		.product-card__row-top
			.product-card__price(data-discount-percent='15' data-price='15990')
				.product-card__new-price 
			.product-card__actions
				button.button.button__icon.border.button__icon--heart
					+svg('heart', 'favorite')
					+svg('heart-checked', 'favorite-checked')
				button.button.button__icon.border.button__icon--compare
					+svg('compare', 'compare')
		.product-card__row-bottom
			button.button.button--white Купить в 1 клик
			button.button.button__icon.border.button__icon--cart
				+svg('cart','cart')
				+svg('cart-added','cart-added')