.section__account-history
	& .account-main__wrapper
		gap: 20px
		@media screen and ( max-width: 992px )
			grid-template-columns: 1fr
			& .account-sidebar
				display: none

.account-history
	padding: 50px
	border: 1px solid #EAEAF0
	border-radius: 8px
	background-color: #FBFDFF
	@media screen and ( max-width: 992px )
		padding: 30px 15px
		margin: 0 -25px
	@media screen and ( max-width: 480px )
		margin: 0 -10px
	&__subtitle
		font-weight: 600
		font-size: 1.5rem
		line-height: 120%
		margin-bottom: 20px
		@media screen and ( max-width: 992px )
			display: none
	&__item
		& span
			font-weight: 400
		&-trigger
		&-caption
			display: grid
			grid-template-columns: repeat(3,1fr)
			gap: 80px
			@media screen and ( max-width: 992px )
				gap: 0
			@media screen and ( max-width: 700px )
				grid-template-columns: 1fr
				row-gap: 10px
		&-number
			display: flex
			gap: 5px
		&-date
			color: $color-dark-gray
		&-info
		&-status
			display: block
			@media screen and ( max-width: 992px )
				text-align: center
			@media screen and ( max-width: 700px )
				text-align: left
			&--pending
				color: #FBB13C
			&--ok
				color: #22A44E
		&-body
			padding: 10px

.account-history__content
	& .ac
		border: none
		background-color: transparent
		padding: 20px 0
		margin-top: 0
		border-top: 1px solid #C8CACB
		&:last-child
			border-bottom: 1px solid #C8CACB
		&.is-active > .ac-trigger::after
			transform: translateY(-50%) rotateX(180deg)
	& .ac-trigger::after
		content: ''
		position: absolute
		right: 10px
		top: 50%
		transform: translateY(-50%)
		width: 0
		height: 0
		border-style: solid
		border-width: 8px 6.5px 0 6.5px
		border-color: $color-black transparent transparent transparent
		transition: transform 0.3s ease
