doctype html
html(lang="ru")
	head
		include utils/mixins
		include utils/meta
		include utils/links
		//- include utils/fonts
		title Main Page
	body
		include components/header
		include components/hero
		+sectionProducts({
			title: `Хиты продаж`,
			linkText: `Все товары`
		})
		+sectionProducts({
			title: `Новинки`,
			linkText: `Все товары`
		})
		+sectionBanners({
			banner1: {
				text: `Скидки до 30% на сигвеи`,
				image: `sigwey.png`
			},
			banner2: {
				text: `Неделя смарт часов`,
				image: `watch.png`
			},
		})
		+sectionProducts({
			title: `Сигвеи`,
			linkText: `Все товары`
		})
		+sectionProducts({
			title: `Моноколеса`,
			linkText: `Все товары`
		})
		+sectionBanners({
			banner1: {
				text: `Распродажа до — 50%`,
				image: `percent.png`
			},
			banner2: {
				text: `Smart Balance Premium по специальной цене`,
				image: `gyroscooter.png`
			},
		})
		+sectionProducts({
			title: `Электровелосипеды`,
			linkText: `Все товары`
		})
		+sectionNews({
			title: `Новости`,	
			linkText: `Читать все`,
			news1: {
				title: `Открытие нового магазина`,
				text: `Разнообразный и богатый опыт говорит нам, что консультация с широким активом требует от нас анализа анализа существующих паттернов поведения`,
				date: `05 июня 2021`,
			}
			news2: {
				title: `Работа в праздничные дни`,
				text: `Принимая во внимание показатели успешности, социально-экономическое развитие играет определяющее значение для вывода текущих активов`,
				date: `07 июня 2021`,
			}
		})
		include components/footer
		include utils/scripts



		//- .container 
		//- 	.btns
		//- 		button.button.button--blue В корзину
		//- 		button.button.button--white Купить в 1 клик
		//- 		button.button.button__icon.border.button__icon--cart
		//- 			+svg('cart','cart')
		//- 			+svg('cart-added','cart-added')
		//- 		button.button.button__icon.border.button__icon--heart
		//- 			+svg('heart', 'favorite')
		//- 			+svg('heart-checked', 'favorite-checked')
		//- 		button.button.button__icon.border.button__icon--compare
		//- 			+svg('compare', 'compare')