doctype html
html(lang="ru")
	head
		include utils/mixins
		include utils/meta
		include utils/links
		//- include utils/fonts
		title Viewed Page
	body
		include components/header
		.container
			.breadcrumbs
				a(href="./index.html").breadcrumbs__item Главная
				a(href="#").breadcrumbs__item.breadcrumbs__item--current Просмотренные товары

		section.viewed.section
			.container.viewed__container
				h2.viewed__title.section-title Просмотренные товары
				.viewed__controls
					select.viewed__select
						option.viewed__option(value="expensive") Все товары
						option.viewed__option(value="Все товары") Все товары
						option.viewed__option(value="Все товары") Все товары
					select.viewed__select
						option.viewed__option(value="expensive") Сначала дорогие
						option.viewed__option(value="cheap") Сначала дешевые
						option.viewed__option(value="rating") По рейтингу
						option.viewed__option(value="popular") По популярности
				.products__products.viewed__grid
					+productCard({
						image: 'product-1.jpg',
						category: 'Сигвеи',
						name: 'Гироскутер Smart Balance Well 6.5 Хип-Хоп',
						discountPercent: '20',
						price: '5990',
						new: true,
						aqua: true,
						hit: true,
					})
					+productCard({
						image: 'product-1.jpg',
						category: 'Сигвеи',
						name: 'Гироскутер Smart Balance Well 8.5 Рок',
						discountPercent: '45',
						price: '10990',
						new: true,
						aqua: true,
					})
					+productCard({
						image: 'product-1.jpg',
						category: 'Сигвеи',
						name: 'Гироскутер Smart Balance Well 8.5 Рок',
						discountPercent: '45',
						price: '10990',
						new: true,
						aqua: true,
					})
					+productCard({
						image: 'product-1.jpg',
						category: 'Сигвеи',
						name: 'Гироскутер Smart Balance Well 6.5 Хип-Хоп',
						discountPercent: '',
						price: '5990',
						hit: true,
					})
					+productCard({
						image: 'product-1.jpg',
						category: 'Сигвеи',
						name: 'Гироскутер Smart Balance Well 6.5 Хип-Хоп',
						discountPercent: '20',
						price: '5990',
						new: true,
						aqua: true,
						hit: true,
					})
					+productCard({
						image: 'product-1.jpg',
						category: 'Сигвеи',
						name: 'Гироскутер Smart Balance Well 8.5 Рок',
						discountPercent: '45',
						price: '10990',
						new: true,
						aqua: true,
					})
					+productCard({
						image: 'product-1.jpg',
						category: 'Сигвеи',
						name: 'Гироскутер Smart Balance Well 8.5 Рок',
						discountPercent: '45',
						price: '10990',
						new: true,
						aqua: true,
					})
					+productCard({
						image: 'product-1.jpg',
						category: 'Сигвеи',
						name: 'Гироскутер Smart Balance Well 6.5 Хип-Хоп',
						discountPercent: '',
						price: '5990',
						hit: true,
					})
					+productCard({
						image: 'product-1.jpg',
						category: 'Сигвеи',
						name: 'Гироскутер Smart Balance Well 6.5 Хип-Хоп',
						discountPercent: '15',
						price: '8100',
						hit: true,
						aqua: true,
					})
					+productCard({
						image: 'product-1.jpg',
						category: 'Сигвеи',
						name: 'Гироскутер Smart Balance Well 6.5 Хип-Хоп',
						discountPercent: '',
						price: '5990',
						hit: true,
					})
					+productCard({
						image: 'product-1.jpg',
						category: 'Сигвеи',
						name: 'Гироскутер Smart Balance Well 6.5 Хип-Хоп',
						discountPercent: '15',
						price: '8100',
						hit: true,
						aqua: true,
					})
		include components/footer
		include utils/scripts