doctype html
html(lang="ru")
	head
		include utils/mixins
		include utils/meta
		include utils/links
		//- include utils/fonts
		title News Page
	body
		include components/header
		.container
			.breadcrumbs
				a(href="./index.html").breadcrumbs__item Главная
				a(href="./page-news.html").breadcrumbs__item Новости
				a(href="#").breadcrumbs__item.breadcrumbs__item--current Новость 1

		.container
			.news-item
				.news-item__content
					h2.news-item__title.news-item__title--main Открытие нового магазина
					.news-item__text 
						p Противоположная точка зрения подразумевает, что реплицированные с зарубежных источников, современные исследования набирают популярность среди определённых слоёв населения, а значит, должны быть функционально разнесены на независимые элементы. Каждый из нас понимает очевидную вещь: социально-экономическое развитие влечёт за собой процесс внедрения и модернизации модели развития. 
						p Имеется спорная точка зрения, гласящая примерно следующее: элементы политического процесса представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть ассоциативно распределены по отраслям. Безусловно, глубокий уровень погружения предполагает независимые способы реализации своевременного выполнения сверхзадачи. 
						p Лишь многие известные личности будут превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. Учитывая ключевые сценарии поведения, сложившаяся структура организации создаёт предпосылки для системы обучения кадров, соответствующей насущным потребностям. Не следует, однако, забывать, что консультация с широким активом создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса экспериментов, поражающих по своей масштабности и грандиозности.
					h3.news-item__title Бонусы и акции в честь открытия
					.news-item__text
						p А ещё явные признаки победы институционализации освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. Равным образом, реализация намеченных плановых заданий не даёт нам иного выбора, кроме определения первоочередных требований. Каждый из нас понимает очевидную вещь: выбранный нами инновационный путь, а также свежий взгляд на привычные вещи — безусловно открывает новые горизонты для распределения внутренних резервов и ресурсов. Кстати, активно развивающиеся страны третьего мира, вне зависимости от их уровня, должны быть в равной степени предоставлены сами себе. 
						p Высокий уровень вовлечения представителей целевой аудитории является чётким доказательством простого факта: высококачественный прототип будущего проекта обеспечивает актуальность переосмысления внешнеэкономических политик. Противоположная точка зрения подразумевает, что сделанные на базе интернет-аналитики выводы могут быть разоблачены. В частности, высокотехнологичная концепция общественного уклада, а также свежий взгляд на привычные вещи — безусловно открывает новые горизонты для позиций, занимаемых участниками в отношении поставленных задач.
				.news-item__image
					img(src="@img/news/news-apple-shop.webp", alt="Новый магазин")
		
		include components/footer
		include utils/scripts