@import mixins
@import global

// =============== MAIN BUTTONS STYLES ================
.button
	@include adaptiveProp('font-size', 16, 12, 768, 320, 'max-width')
	font-weight: 700
	line-height: 130%
	padding: 0.8em 1.25em
	outline: none
	border: 1px solid $color-blue
	border-radius: 4px
	cursor: pointer
	transition: all 0.3s ease
	&--white
		background: #FFFFFF
		color: $color-blue
		@media screen and ( any-hover: hover )
			&:hover
				transform: scale(1.05)
				background-color: $color-blue
				color: $color-white
	&--blue
		background: $color-blue
		color: $color-white
		@media screen and ( any-hover: hover )
			&:hover
				transform: scale(1.05)
				background-color: $color-dark-blue
				border-color: $color-dark-blue

	&:focus
		outline: 1px solid $color-dark-gray

.button__icon
	padding: 0.2em
	width: 3em
	height: 3em
	position: relative
	overflow: hidden
	border: none
	&.border
		border: 1px solid $color-gray
	svg
		position: absolute
		top: 50%
		left: 50%
		width: 60%
		height: 60%
		transition: all 0.3s ease
		transform: translate(-50%,-50%)
		pointer-events: none
	span
		font-family: 'Exo2'
		position: absolute
		font-weight: 400
		font-size: 12px
		line-height: 100%
		top: 0px
		right: 0px
		min-width: 20px
		min-height: 20px
		border-radius: 10px
		background-color: $color-dark-blue
		color: $color-white
		text-align: center
		display: flex
		justify-content: center
		align-items: center
		pointer-events: none

// =============== BUTTONS ================
.button__icon--compare
	background-color: transparent
	color: $color-gray
	@media screen and ( any-hover: hover )
		&:hover
			transform: scale(1.15)
	&.compare-checked
		.compare
			color: $color-dark-blue

.button__icon--heart
	background-color: transparent
	color: $color-gray
	@media screen and ( any-hover: hover )
		&:hover
			transform: scale(1.15)
			.heart
				color: $color-blue
	.heart
		transform: scale(1) translate(-50%,-50%)
		transform-origin: left top
		opacity: 1
	.heart-checked
		transform: scale(0) translate(-50%,-50%)
		transform-origin: left top
		opacity: 0
		color: $color-red
	&.favorite-checked
		.heart
			transform: scale(0) translate(-50%,-50%)
			opacity: 0
		.heart-checked
			transform: scale(1) translate(-50%,-50%)
			opacity: 1

.button__icon--cart
	background: $color-blue
	color: $color-white
	@media screen and ( any-hover: hover )
		&:hover
			transform: scale(1.05)
			background-color: $color-dark-blue
			border-color: $color-dark-blue
	.cart
		transform: translate(-50%,-50%)
	.cart-added
		transform: translate(-500%,-50%)
	&.added-to-cart
		background-color: $color-light-blue
		border-color: $color-light-blue
		@media screen and ( any-hover: hover )
			&:hover
				transform: scale(1.05)
				background-color: $color-blue
				.cart-added
					color: $color-white
		.cart-added
			transform: translate(-50%,-50%)
			color: $color-dark-blue
		.cart
			transform: translate(450%,-50%)

// =============== HEADER ACTIONS ================
.button__icon--header
	&-search,
	&-viewed,
	&-cart,
	&-compare,
	&-search,
	&-heart
		background-color: transparent
		color: $color-gray
		@media screen and ( any-hover: hover )
			&:hover
				transform: scale(1.15)
				svg
					color: $color-blue
	&-heart
		.heart
			transform: scale(1) translate(-50%,-50%)
			transform-origin: left top
			opacity: 1

// =============== LOGO ================
.logo
	max-width: 100%

// =============== SEARCH FORM ================
.search
	display: flex
	justify-content: center
	align-items: center
	border-bottom: 1px solid $color-gray
	// .search__input
	&__input
		font-size: 1.25rem
		line-height: 1.2em
		font-weight: 500
		border: none
		outline: none
		min-height: 40px
		max-width: 100px
	// .search__button
	&__button
		color: inherit
		width: 40px
		height: 40px

// =============== SECTION TITLE ================
.section
	&.products
		margin-top: 80px
		@media screen and ( max-width: 991.98px )
			margin-top: 60px
		@media screen and ( max-width: 767.98px )
			margin-top: 30px
	&.banners,
	&.news
		margin-top: 40px
		@media screen and ( max-width: 991.98px )
			margin-top: 30px
		@media screen and ( max-width: 767.98px )
			margin-top: 20px
	&-title
		font-weight: 700
		font-size: 2.25rem
		line-height: 130%
		@media screen and ( max-width: 767.98px )
			font-size: 1.5rem
		@media screen and ( max-width: 479.98px )
			padding-left: 5px
	&-all
		font-weight: 500
		font-size: 1rem
		line-height: 120%
		color: #2A5275
		transition: all 0.3s ease
		display: inline-block
		@media screen and ( any-hover: hover )
			&:hover
				color: $color-black
				transform: scale(1.1)
		@media screen and ( max-width: 767.98px )
			margin-top: 10px
		@media screen and ( max-width: 479.98px )
			padding-left: 5px
		&--border
			position: relative
			padding-right: 22px
			&::after
				content: ""
				position: absolute
				right: 0
				bottom: 2px
				border: 6px solid transparent
				transition: all 0.3s ease
				border-left: 7px solid #2A5275
			@media screen and ( any-hover: hover )
				&:hover
					&::after
						border-left: 7px solid $color-black
			@media screen and ( max-width: 767.98px )
				&::after
					bottom: 0px

// =============== REVIEW ================
.review
	padding: 40px
	background-color: $color-light-blue
	border-radius: 10px
	@media screen and ( max-width: 650px )
		padding: 20px
	@media screen and ( max-width: 450px )
		margin: 0 -20px
		padding: 20px 10px
	&:not(:last-child)
		margin-bottom: 20px
	&__info
		display: flex
		gap: 20px
		align-items: center
		margin-bottom: 20px
		@media screen and ( max-width: 650px )
			gap: 15px
			flex-wrap: wrap
		@media screen and ( max-width: 450px )
			gap: 10px
	&__photo
		width: 50px
		height: 50px
		object-fit: cover
		border-radius: 50%
	&__name
		font-weight: 700
	&__date
		font-weight: 700
		font-size: 16px
		color: $color-dark-gray
	&__rating
		& > .product-card__reactions
			margin-bottom: 5px
	&__message
	&__title
		font-weight: 700
		margin-bottom: 10px
	&__text

// =============== CHECKBOX ================
.checkbox
	display: grid
	grid-template-columns: 1fr
	gap: 12px
	&__label
		font-size: 1rem
		line-height: 130%
		display: flex
		align-items: center
		gap: 12px
		cursor: pointer
		user-select: none
		transition: color 0.3s ease
		@media screen and ( any-hover: hover )
			&:hover
				color: $color-blue
				& > .checkbox__input
					border-color: $color-blue
		span
			color: $color-dark-gray
	& .checkbox__input--hidden:checked + .checkbox__input
		background-color: #4878A6
		svg
			display: block
	&__input
		width: 24px
		height: 24px
		border: 1.5px solid #EAEAF0
		background-color: transparent
		display: flex
		justify-content: center
		align-items: center
		border-radius: 4px
		transition: border-color 0.3s ease
		svg
			display: none
			width: 16px
			height: 16px
			color: $color-white
	&__input--hidden
		appearance: none
		-moz-appearance: none
		-webkit-appearance: none
		width: 0
		height: 0
		visibility: hidden
		font-size: 0
		position: absolute

// =============== INPUT ================
.input
	padding: 10px 10px 10px 10px
	background: #FFFFFF
	border: 1px solid #EAEAF0
	border-radius: 5px
